

.input-form {
  display: block;
  margin : 0 auto;
}

.input-field {
  display: block;
  margin : 0 auto;
}

table {
  width: 100%;
  position: absolute;
  left: 0;
}

.csv-wrapper{
  border: 1px solid black;
  width: 100%;
  height: 50px;
}

.instructions-div{
  border: 1px solid black;
  width: 100%;
  height: 50px;
}

.network-dropdown-div{
  border: 1px solid black;
  width: 100%;
  height: 50px;
}

.log-type-dropdown-div{
  width: 100%;
  height: 50px;
}

.file-upload-div{
  width: 100%;
  height: 50px;
  position: relative;

}

.data-display-div{
  border: 1px solid black;
  width: 100%;
  height: 50px;
}
