body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black !important;
  width: 100%;
}




.input-wrapper {
  min-width: 300px;
  width: 100%;
  background: black;
  color: white;
  padding: 30px;
  resize: both;
  overflow: none;
}
