body {
  background: linear-gradient(#e66465, #9198e5) !important;    
  width: 100%;
  font-size: 3rem;
  height: 100%;
}




.body-wrapper {
  text-align:center;
  position: absolute;
  top: 50%;
}

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
}


.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  margin: 20px;
}

.heading-primary-main{
  display: block;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
}
.heading-primary-sub {
  display: block;
  font-size: 1.8rem;
  font-weight: 950;
  letter-spacing: 1.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  padding-top: 25px;

}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(2rem)
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem)
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
