body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black !important;
}

.App {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: none;
border-radius: 5px;}



.input-wrapper {
  min-width: 300px;
  background: black;
  color: white;
  width: 50%;
  padding: 30px;
  resize: both;
  overflow: none;
}
